<template>
    <div>
        <page-header/>
        <h1> Modals</h1>
        <p> Modal dialog with activator</p>
        <b-modal close-btn size="xs" title="My title" @click:outside="showModal = false">
            <template slot="title" slot-scope="scope">{{scope.title}} {{scope.visible}}</template>
            <template #footer="scope">
                <button class="btn btn-primary" @click="scope.close">Close</button>
            </template>
            Modal with activator
            <template #activator="{on}">
                <button class="btn btn-primary" @click="on">Open</button>
            </template>
        </b-modal>
        <hr>


        <p> Modal dialog with model</p>
        <b-modal v-model="showModal" close-btn size="xs" title="My title" @click:outside="showModal = false">
            Modal with model
        </b-modal>

        <button type="button" class="btn btn-primary" @click="showModal = !showModal">
            Launch demo modal
        </button>
        <hr>
        <h1> Alerts </h1>
        <p> Modal dialog with model</p>
        <div>
            <b-alert v-model="showAlert"
                     :timeBeforeClose=1000>
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </b-alert>
            <button type="button" class="btn btn-primary"
                    @click="showAlert = !showAlert"
            >
                Launch demo modal
            </button>
        </div>

        <hr>

        <div>
            <b-alert>
                <template #activator="{on}">
                    <button type="button" class="btn btn-primary" @click="on">
                        Launch with activator
                    </button>
                </template>
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </b-alert>
        </div>
    </div>
</template>

<script>
    import BModal from "../../components/bootstrap/BModal";
    import PageHeader from "./PageHeader";
    import BAlert from "../../components/bootstrap/BAlert";

    export default {
        name: "Home",
        components: {BAlert, PageHeader, BModal},
        data() {
            return {
                showModal: false,
                showAlert: false
            }
        }
    }
</script>

