<template>
    <div>
        <div v-if="displayAlert">
            <div :class="['alert alert-dismissible fade postop w-70', {'show':showAlert} ,'alert-'+context]" role="alert">
                <slot #default></slot>
                <button type="button" class="close" @click="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <slot name="activator" :on="on"></slot>
    </div>

</template>

<script>
    export default {
        name: "BAlert",
        model: {
            prop: 'visible',
            event: 'change'
        },
        props: {
            visible: {
                type: Boolean,
                default: false
            },
            context: {
                type: String,
                default: "primary"
            },
            timeBeforeClose: {
                type: Number,
                default: 0
            }
        },
        data() {
            return {
                showAlert: this.visible,
                displayAlert: false
            }
        },
        watch: {
            visible: function (newValue, oldValue) {
                if (!oldValue) {
                    this.open()
                }
                if (oldValue) {
                    this.close()
                }
            },
            showAlert: function (newValue, oldValue) {
                if (!oldValue) {
                    this.$emit("alert:opened")
                }
                if (oldValue) {
                    this.$emit("alert:closed")
                }
            }
        },
        methods: {
            open() {
                this.displayAlert = true
                this.showAlert = true
                if (this.timeBeforeClose !== 0) {
                    setTimeout(() => {
                        this.close()
                    }, this.timeBeforeClose)
                }
            },
            close() {
                this.showAlert = false
                setTimeout(() => {
                    this.displayAlert = false
                }, 100)
                this.$emit("change", false)
            },
            on() {
                this.$emit("change", true)
                this.open()
            }
        }
    }
</script>

<style scoped type="scss">
    .postop {
        display: block;
        position: fixed;
        top: 15px;
        left: auto;
        right: auto;
    }
</style>